ServicioSumadorCliente/src/conf/xml-resources/web-service-references/Operaciones/wsdl/localhost_8084/ServicioSumador/Operaciones.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.albarregas.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.albarregas.es/">

<xs:element name="Sumador" type="tns:Sumador" />

<xs:element name="SumadorResponse" type="tns:SumadorResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Sumador">
<xs:sequence>
<xs:element name="operando1" type="xs:double" />
<xs:element name="operando2" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="SumadorResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>